.booking_body{
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	font-family: "Ubuntu", sans-serif;
	background:url("../../assets/images/booking1.jpg");
	background-size:cover;
}

.stages-s1 {
	font-size: 0;
	text-align: justify;
}

.stages-s1:after {
	content: '';
	display: inline-block;
	font-size: 0;
	text-align: justify;
	width: 100%;
}

.radio-s1 {
	display: none;
}

.stages-s1 .label-s1 {
	background: #ffffff;
	border: solid 5px #c0c0c0;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	font-weight: 700;
	height: 60px;
	line-height: 50px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 60px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stages-s1 .label-s1:after {
	content: '\2713';
	color: #0cc39f;
	display: inline-block;
	font-size: 16px;
}

#one-s1:checked ~ .stages-s1 .label-s1[for="one-s1"],
#two-s1:checked ~ .stages-s1 .label-s1[for="two-s1"],
#three-s1:checked ~ .stages-s1 .label-s1[for="three-s1"]{
	border-color: #CE3232;
}

.stages-s1 .label-s1  .active{
	border-color: purple !important;
}

#one-s1:checked ~ .stages-s1 .label-s1,
#two-s1:checked ~ .stages-s1 .label-s1[for="one-s1"] ~ .label-s1,
#three-s1:checked ~ .stages-s1 .label-s1[for="two-s1"] ~ .label-s1,
#four-s1:checked ~ .stages-s1 .label-s1[for="three-s1"] ~ .label-s1{
	font-size: 16px;
}

#one-s1:checked ~ .stages-s1 .label-s1:after,
#two-s1:checked ~ .stages-s1 .label-s1[for="one-s1"] ~ .label-s1:after,
#three-s1:checked ~ .stages-s1 .label-s1[for="two-s1"] ~ .label-s1:after {
	display: none;
}

.progress-s1 > span {
	background: #c0c0c0;
	display: inline-block;
	height: 5px;
	transform: translateY(-2.75em);
	transition: 0.3s;
	width: 0;
}

#two-s1:checked ~ .progress-s1 span {
	width: calc(100% / 2 * 1);
}

#three-s1:checked ~ .progress-s1 span {
	width: calc(100% / 2 * 2);
}

.panels-s1 .div-s1 {
	display: none;
}

#one-s1:checked ~ .panels-s1 [data-panel="one-s1"],
#two-s1:checked ~ .panels-s1 [data-panel="two-s1"],
#three-s1:checked ~ .panels-s1 [data-panel="three-s1"]{
	display: block;
}

.form-s1 {
	background: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	margin-top: 12px;
	border-radius: 15px;
	/*min-width: 480px;*/
	padding: 1em;
}

.panels-s1 .div-s1 {
	border-top: solid 1px #c0c0c0;
	margin: 1em 0 0;
	padding: 1em 0 0;
}

.lable-from {
	color:white;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:red;
}

.pfont {
	font-size:14px;
	color:white;
}